.container{
  background: url('../../assets/bg7.png');
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 10px;

  ion-card{
    --background:#c5bbd8;
  }

  .b1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(183, 144, 255);
  }
}

ion-toolbar{
  --background: #200060;

  ion-title{
    color: 'roxo';
  }
}
