<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <ion-card>
      <ion-item>
        <ion-label>Email:</ion-label>
        <ion-input type="email" placeholder="email@gmail.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Senha:</ion-label>
        <ion-input type="senha"  placeholder="senha"></ion-input>
      </ion-item>

  </ion-card>

    <div>
    <ion-button color="roxo" class="b1" fill="outline"  [routerLink]="['/paglogin']">Entrar</ion-button>
    <ion-button color="roxo" class="b1" fill="outline"  [routerLink]="['/tabs/tab1']" >Voltar</ion-button>
    </div>

      <u class="p1" [routerLink]="['/password']"><p>Esqueceu a senha?</p></u>
  </div>
</ion-content>
