<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-item>
    <ion-label>Nome</ion-label>
    <ion-input placeholder="Insira seu nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>CPF</ion-label>
    <ion-input type="email" placeholder="000.000.000-00"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Email:</ion-label>
    <ion-input type="email" placeholder="email@gmail.com"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Senha:</ion-label>
    <ion-input type="digite sua senha"  placeholder="senha"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Confirmar senha</ion-label>
    <ion-input  placeholder="confirme sua senha"></ion-input>
  </ion-item>
</ion-card>

<div>
  <ion-button class="b1">Salvar</ion-button>
  <ion-button class="b1">Voltar</ion-button>
  </div>

</ion-content>
