<ion-header>
  <ion-toolbar>
    <ion-title color="roxo">password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <ion-card>

      <ion-item>
        <ion-label>Insira seu email:</ion-label>
        <ion-input type="email" placeholder="email@gmail.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Insira a nova senha:</ion-label>
        <ion-input type="senha"  placeholder="senha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Confirmar a senha:</ion-label>
        <ion-input type="senha"  placeholder="senha"></ion-input>
      </ion-item>

  </ion-card>
  <div>
    <ion-button color="roxo" class="b1" fill="outline" [routerLink]="['/login']" >Voltar</ion-button>
    </div>
  </div>
</ion-content>
